.mobile .title {
	top: 20px;
	left: 20px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300; 
}

.mobile .title span{
	width: 100%;
	color: slategrey;
	float: left;
}

.mContent .imgContent {
	width: 360px;
	height: 300px;
	position: absolute;
	top: 100px;
	left: 5%;
	/*overflow: hidden!important;*/

}

.mContent .imgContent img{

	height: 50px;
	width: auto;

}

.mContent .imgMod {
	line-height: 50px;
	float: left;
	width: auto;
	height: auto;
	padding: 2px;
	/*width: auto;
	height: auto;
	padding: 10px;
	
	float: left;
	padding-bottom: 0px;
	border-right: none; 
	opacity: 0.85;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-opera-transition: all 0.5s ease;*/
}

.mContent .sliderBar {
	display: none;
}

 
.mContent .a,.b,.c,.d,.e,.f {
	height: 54px;
	width: auto;
	float: left !important;
	overflow: hidden;
	
}