.mobile .title {
	top: 20px;
	left: 20px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300; 
}

.mobile .title span{
	width: 100%;
	color: slategrey;
	float: left;
}

.mContent .imgContent {
	width: 400px;
	height: 500px;
	position: absolute;
	top: 100px;
	left: 5%;
	overflow: hidden!important;

}

.mContent .imgContent img{

	 -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
    zoom: 0.6; /* Other non-webkit browsers */
    zoom: 60%; /* Webkit browsers */

}

.mContent .imgMod {
	line-height: 150px;
	/*width: auto;
	height: auto;
	padding: 10px;
	
	float: left;
	padding-bottom: 0px;
	border-right: none; 
	opacity: 0.85;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-opera-transition: all 0.5s ease;*/
}

.sliderBar {
	display: none;
}

 
.mContent .a,.b,.c,.d,.e,.f {
	height: 120px;
	width: auto;
	float: left;
	overflow: hidden;
	
}