@font-face {
font-family: HelveticaNeue-Light;
src: url("css/HelveticaNeue-UltraLight.otf") format("opentype");
}

.topNav {
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 12px; 
   	background: white;
   	border-bottom: 1px solid gainsboro;
   	z-index: 1;
   	background: white;
}

.topNav ul {
	text-decoration: none;
	position: absolute;
	right:100px;
	top: 10px;
	margin: 0px;
	text-transform: uppercase;
	z-index: 2;
}

.topNav ul li {
	display: inline;
	position: absolute;
	height: 30px;
	width: auto;
	min-width: 120px;
	color: black;
	position: relative;
	float: left;
	text-align: right;
	padding-right: 20px;
	border-right: 1px solid gainsboro;
	line-height: 52px;
	/*background: tomato;*/
	 -webkit-transform: skew(-15deg); 
}

.topNav ul li a {

	text-decoration: none;
	color: black;
	
}

.topNav li a:hover {
	color: #A8A8A8!important ;
}

.topNav .dropDown  {
	/*display: none;*/
	position: absolute;
	height: 30px;
	text-decoration: none;
	width: 100%;
	top: 0px;
	font-size: 12px;
	text-align: left !important;
	z-index: 0;
	background: whitesmoke;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-opera-transition: all 2s ease;

}

.topNav .dropDown ul{
	top: 0px;
	right: 60px;

}

.topNav .dropDpwn ul li {
	border-right: 1px solid white !important;
	color: red;
}


.topNav .dropDown ul a{
	color: black;

}

.title {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
	padding-left: 50px;
	background: white;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300; 
   	font-size: 24px;
   	z-index: 1;
   	line-height: 61px;
}

.title span {
	color: lightgrey;
	font-weight: 100; 
	font-style: italic;
}

.container {
	width: 100%;
	height: 800px;
	position: absolute;
	top: 100px;
	padding-left: 6%;
}

.brandWork {
	padding-left: 20px;
	width: 85%;
	/*border: 1px solid tomato;*/
	background: white;
	height: auto;
	min-height: 800px;
}

.brandWork .brand_title {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px; 
	margin-bottom: 20px;
	width: 100%;
}

.brandWork .main {
	padding-top: 0px;
	/*border: 1px solid blue;*/
	width: auto;
	float: left;
	margin-right: 40px;
}


.main img {
	width: auto;
	height: 420px;
	border: 1px solid gainsboro;
}


.brandWork .subright {
	/*padding-top: 10px;*/
	padding-left: 40px;
	/*border-left: 1px dashed gainsboro;*/
	width: 20%;
	float: left;
	height: 430px;
}

.brandWork .subright img {
	width: 200px;
	height: auto;
	margin-bottom: 20px;
	margin-right: 20%;
	border: 1px solid gainsboro;
}

.brandWork .subbottom {
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 40px;
	/*border-top: 1px dashed black;*/
	width: 100%;
	float: left;
	height: auto;
}

.brandWork .subbottom img {
	margin-right: 20px;
	width: 250px;
	height: auto;
	border: 1px solid gainsboro;
}

.brandWork .digital {
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid gainsboro;
	width: 100%;
	float: left;
	height: auto;
}

.brandWork .digital img {
	margin-right: 20px;
	width: 450px;
	height: auto;
}



